<a ui-sref="deadlines">Back to Deadlines</a>

<h1>List of Deadlines</h1>
<input value="" type="text" placeholder="Add a Deadline" ng-model="deadlineName">
<button ng-click="addDeadline(deadlineName)">Add Deadline</button><br/>

<ul ng-repeat="deadline in data | orderBy: orderProp">
  Deadline: {{deadline.Deadline}}
  <button ng-click="deleteDeadline(deadline)">Delete Deadline</button><br/>

  <input value="" type="text" placeholder="Add a Project" ng-model="projectName">
  <button ng-click="addProject(deadline, projectName)">Add Project</button><br/><br/>
  <ul ng-repeat="project in deadline.Project | orderBy: orderPropSec : true">
    Project: {{project.Project}}
    <button ng-click="deleteProject(deadline, project)">Delete Project</button><br/>

    <div ng-if="!project.Dept">
      <input value="" type="text" placeholder="Add a Department" ng-model="deptName">
      <button ng-click="addDept(deadline, project, deptName)">Add Department</button><br/>
    </div>
    <div ng-if="project.Dept">
      <a ui-sref="deadlineID({id:project.ID})">Dept: {{project.Dept}}</a>
      <button ng-click="deleteDept(deadline, project)">Delete Department</button><br/>
    </div>

    <div ng-if="project.Resources.length > 0">
      <a ui-sref="deadlineID({id:project.ID})">Total Resources: {{project.Resources.length}}</a>
      <button ng-click="dropResource(deadline, project)">Delete Resource</button><br/>
    </div>
    <input value="" type="text" placeholder="Add a Resouce" ng-model="resourceName">
    <button ng-click="addResource(deadline, project, resourceName)">Add to resource list</button><br/><br/>
  </ul>
</ul>
<hr/>
